*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    max-width: 100%;
}
h2{
    font-weight: unset;
}



/******
.debug .container1{
    min-height: 50px;
    padding: 20px;
}
.debug .header1 {
    background-color:darkgoldenrod;
    padding: 5px;
}

.debug .head1{
    background-color: pink;
}
.debug .container2{
    padding: 20px;
}

.debug .head2{
    background-color: blue;
}
.debug .header2{
    background-color: pink;
    border:  1px dashed black;
    min-height: 250px;
}
.debug .main1{
    min-height: 300px;
}
.debug .main2{
    min-height: 300px;
}
.debug .section2{
    background-color: lightseagreen;
}
.debug .col-main1{
    background-color: lightblue;
    border: 1px dashed black;
}
.debug .col-main2{
    background-color: blueviolet;
    border: 1px dashed black;
}
.debug .main3{
    min-height: 450px;
}
.debug .col-main3{
    background-color: olive;
    border: 1px dashed black;
}
.debug .section3{
    background-color: gray;
}
.debug .foot1{
    min-height: 350px;
}
.debug .col-foot1{
    background-color: crimson;
    border: 1px dashed black;
}
.debug .col-foot2{
    background-color: cyan;
    border: 1px dashed black;
}
.debug .section4{
    background-color: gray;
    margin-top: 1px;
}
.debug .foot2{
    background-color: white;
    border: 1px dashed black;
    min-height: 40px;
}
.debug .col-foot3{
    background-color: bisque;
    border: 1px dashed black;
}
.debug .col-foot4{
    background-color: bisque;
    border: 1px dashed black;
}
*****/



.container1{
    max-width: 1000px;
    margin: 0 auto;
}
.container2{
    max-width: 800px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-header{
    flex-basis: 100%;
}
.row .col-main1{
    flex-basis: 60%;
}

.row .col-main2{
    flex-basis: 40%;
}

.main2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.row .col-main3{
    flex-basis: 100%;
}
.row .col-foot1{
    flex-basis: calc((100% / 12)* 4)
}

.row .col-foot2{
    flex-basis: calc((100% / 12) * 2)
}

.foot2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}  

/********* HEADER **********/

.head1{
    background-color: #255ee9;
    padding: 10px 0;
}
.col-link{
    flex-grow: 1;
}
.col-link-row{
    display: flex;
    justify-content: center;
}
.col-link-row > span{
    margin: 0 20px;
}
.col-login > span{
    padding: 5px 15px;
    background-color: white;
    border-radius: 20px;
}
.head2{
    padding-top: 100px;
    padding-bottom: 30px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.col-header > h1{
    padding: 38px 0;
    font-size: 40px;
}
.col-header > div{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 5px;
}
.col-header{
    padding-bottom: 120px;
}
.mac-down{
    display: inline-block;
    width: 150px;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-top: 15px;
}
.open-dis{
    display: inline-block;
    width: 230x;
    padding: 11px;
    background-color: black;
    border-radius: 20px;
    margin-top: 15px;
}

/******* FINE HEADER ********/

.main1{
    margin-top: 100px;
}
.talk-space{
    margin-top: 32px;
    min-width: 80px;
    font-size: 30px;
    font-weight: normal;
}
.text-main1{
    padding-top: 40px;
    font-weight: 300;
    font-size: 15px;
    line-height: 2px;
}