/******
.debug .container1{
    min-height: 50px;
    padding: 20px;
}
.debug .header1 {
    background-color:darkgoldenrod;
    padding: 5px;
}
.debug .head1{
    background-color: pink;
}
.debug .container2{
    padding: 20px;
}
.debug .head2{
    background-color: blue;
}
.debug .header2{
    background-color: pink;
    border:  1px dashed black;
    min-height: 250px;
}
.debug .main1{
    min-height: 300px;
}
.debug .main2{
    min-height: 300px;
}
.debug .section2{
    background-color: lightseagreen;
}
.debug .col-main1{
    background-color: lightblue;
    border: 1px dashed black;
}
.debug .col-main2{
    background-color: blueviolet;
    border: 1px dashed black;
}
.debug .main3{
    min-height: 450px;
}
.debug .col-main3{
    background-color: olive;
    border: 1px dashed black;
}
.debug .section3{
    background-color: gray;
}
.debug .foot1{
    min-height: 350px;
}
.debug .col-foot1{
    background-color: crimson;
    border: 1px dashed black;
}
.debug .col-foot2{
    background-color: cyan;
    border: 1px dashed black;
}
.debug .section4{
    background-color: gray;
    margin-top: 1px;
}
.debug .foot2{
    background-color: white;
    border: 1px dashed black;
    min-height: 40px;
}
.debug .col-foot3{
    background-color: bisque;
    border: 1px dashed black;
}
.debug .col-foot4{
    background-color: bisque;
    border: 1px dashed black;
}
*****/



/********* DEBUG **********/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
ul,
li,
menu{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h2{
    font-weight: unset;
}


/******* CONTAINER ********/


.container1{
    max-width: 1000px;
    margin: 0 auto;
}
.container2{
    max-width: 800px;
    margin: 0 auto;
}
.section3{
    background-color: rgb(35,39,42,255);
    color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}
.section4{
    background-color: rgb(35,39,42,255);
}

/********* REGOLE FLEX *********/


.row{
    display: flex;
    flex-wrap: wrap;
}
.row .col-main1{
    flex-basis: 60%;
}
.row .col-main2{
    flex-basis: 40%;
}
.row .col-main3{
    flex-basis: 100%;
}
.row .col-main4{
    flex-basis: 16%;
    align-items: center;
}
.row .col-foot1{
    flex-basis: calc((100% / 12)* 4)
}
.row .col-foot2{
    flex-basis: calc((100% / 12) * 2)
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-header{
    flex-basis: 100%;
}

/********* HEADER **********/

.nav-link{
    display: flex;
}
.link-item > a{
    text-decoration: none;
    color: white;
    padding: 0 30px;
}
.head1{
    background-color: #255ee9;
    padding: 20px 0;
}
.col-link{
    flex-grow: 1;
}
.col-link-row{
    display: flex;
    justify-content: center;
}
.col-link-row > span{
    margin: 0 20px;
}
.col-login{
    display: flex;
}
.col-login > a{
    padding: 5px 15px;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 12px;
}
.head2{
    padding-top: 100px;
    padding-bottom: 30px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.col-header > h1{
    padding: 38px 0;
    font-size: 40px;
}
.col-header > div{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 5px;
}
.col-header{
    padding-bottom: 120px;
}

.mac-down{
    display: inline-block;
    padding: 5px 15px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-top: 15px;
    text-decoration: none;
}
.open-dis{
    display: inline-block;
    padding: 6px 15px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: 15px;
    text-decoration: none;
}


/******* FINE HEADER ********/



/******* INIZIO MAIN ********/

.main-sec-2{
    background-color: rgb(246,246,246,255);
    padding-top: 40px;
    padding-bottom: 40px;
}
.main2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.main1{
    margin-top: 100px;
    margin-bottom: 100px;
}
.text-main1{
    padding-top: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}
.find-space{
    margin-top: 32px;
    font-size: 30px;
    font-weight: bold;
}
.col-main2 > h2{
    margin-top: 32px;
    font-size: 30px;
    font-weight: bold;
}
.text-main2{
    padding-top: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
}
.col-main3{
    text-align: center;
}
.col-main3 > h2{
    margin-top: 32px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.text-main3{
    margin-top: 32px;

}
.main3 > img{
    margin-left: 70px;
}
.text-main4{
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;

}
.macbutton{
    display: flex;
    justify-content: center;
}
.macbutton-link{
    padding: 10px;
    background-color: rgb(114,137,218,255);
    color: white;
    border-radius: 20px;
}
.wave-1{
    margin-bottom: -5px;
}
.wave-2{
    transform: rotate(180deg);
}


/******* FINE MAIN *********/


/******* INIZIO FOOTER *****/


.ita-flag{
    width: 20px;
    display: inline-block;
}
.ita-lang{
    display: inline-block;
}
.ita-color{
    color: white;
}
.icon{
    margin-top:15px;
}
.icon1{
    color: white;
}
.icon2{
    margin-left: 6px;
    color: white;
}
.white{
    color: white;
}
h4{
    font-weight: normal;
}
.blue-big{
    color: rgb(114,137,218,255);
    font-size: 25px;
    padding-bottom: 20px;
}
.blue{
    color: rgb(114,137,218,255);
    font-size: ;
}
.link-foot > li{
    display: block;
    line-height: 30px;
}

.col-foot3{
    margin-bottom: 40px;
}
.rec-botton{
    display: flex;
}
.rec-botton-link{
    padding: 5px 15px;
    background-color: rgb(114,137,218,255);
    border-radius: 20px;
    margin-top: 13px;
    text-decoration: none;
    color: white;
}
.logo-foot{
    margin-top: 25px;
}
.foot2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(114,137,218,255);
}  


/******** FINE FOOTER ********/